table {
  width: 100%;
}

.text-right-align {
  text-align: right;
}

input.text-right-align::-webkit-outer-spin-button,
input.text-right-align::-webkit-inner-spin-button {
  display: none;
}

.full-width {
  width: 100%;
}
