table {
    width: 100%;
  }

div.donations-list {
  border: 3px solid; 
  border-radius: 4px;
  padding: 0px;
}


.text-right-align {
  text-align: right;
}

input.text-right-align::-webkit-outer-spin-button,
input.text-right-align::-webkit-inner-spin-button {
  display: none;
}

.full-width {
  width: 100%;
}

// mat-card {
//   margin-top:16px
// }

