<div class="row m-3 m-md-4 justify-content-center">

    <div class="col-12 col-sm-10 col-md-8 col-xl-6 col-xxl-6">

        <mat-card class="mx-auto" appearance="outlined" *ngIf="profileReady && profile.exists">

        
            <mat-card-header>
                <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + 'https://services.tzkt.io/v1/avatars/' + profile.address + ')'}" style="background-size: cover;"></div>
            
                <mat-card-title *ngIf="profile.alias" style="font-size:x-large;">{{ profile.alias }}</mat-card-title>
                <mat-card-title *ngIf="!profile.alias" style="font-size:x-large;">Unknown name</mat-card-title>

                <mat-card-subtitle class="mb-2" *ngIf="profile.description">{{ profile.description }}</mat-card-subtitle>
            </mat-card-header>
            
            <mat-card-content>

                <div *ngIf="profile.twitter">
                    Twitter: <a [href]="profile.twitter" target="_blank">{{ profile.twitter }}</a>
                </div>

                <div *ngIf="profile.github">
                    GitHub: <a [href]="profile.github" target="_blank">{{ profile.github }}</a>
                </div>

                <div *ngIf="profile.site">
                    Website: <a [href]="profile.site" target="_blank">{{ profile.site }}</a>
                </div>

                <!-- <div *ngIf="profile.ethAddress">
                    Eth address: <a [href]="'https://etherscan.io/address/' + profile.ethAddress" target="_blank">{{ profile.ethAddress | shorten }}</a>
                </div>             -->
    
            </mat-card-content> 

        </mat-card>    

    
        <mat-card class="mx-auto" *ngIf="profileReady && !profile.exists">
            <mat-card-header>
                <mat-card-title>No profile found for this address</mat-card-title>
            </mat-card-header>
        </mat-card>

        <mat-card class="mx-auto" appearance="outlined" *ngIf="!profileReady">
            <mat-card-content>
                <mat-card-title>Loading profile...</mat-card-title>
            </mat-card-content>
        </mat-card>

    </div>
</div>

<div class="row m-3 m-md-4 justify-content-center">
 
    <div class="col-12 col-sm-10 col-xl-8 mt-3" *ngIf="profileReady">

            <h3 class="mb-3" *ngIf="ownedCampaigns.length > 0">Owned campaigns</h3>
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-3">
                <div class="col pt-0 pb-4" *ngFor="let campaign of ownedCampaigns">
                    <app-campaign-card [campaign]="campaign" [profile]="true"></app-campaign-card>
                </div>
            </div>
            <h3 class="mb-3" *ngIf="ownedCampaigns.length == 0">No owned campaigns</h3>

            <h3 class="mb-3" *ngIf="fundedCampaigns.length > 0">Funded campaigns</h3>
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-3">
                <div class="col pt-0 pb-4" *ngFor="let campaign of fundedCampaigns">
                    <app-campaign-card [campaign]="campaign" [profile]="true"></app-campaign-card>
                </div>
            </div>
            <h3 class="mb-3" *ngIf="fundedCampaigns.length == 0">No funded campaigns</h3>
 
    </div>
    
</div>
