<div class="row m-3 m-md-4 justify-content-center">

    <!-- <div class="row mb-3 justify-content-center"> -->
    <div class="col-12 col-sm-10 col-xl-8 col-xxl-6">

        <mat-card appearance="outlined" *ngIf="profileReady && profile.exists">

            <div class="row">
                <div class="col-auto">   
                    <mat-card-header>
                        <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + profile.logoURL + ')'}" style="background-size: cover;"></div>
                    
                        <mat-card-title *ngIf="profile.alias" style="font-size:x-large;">{{ profile.alias }}</mat-card-title>
                        <mat-card-title *ngIf="!profile.alias" style="font-size:x-large;">Unknown name</mat-card-title>
                    </mat-card-header>
                    
                    <mat-card-content>

                        <mat-card-subtitle class="mb-2" *ngIf="profile.description">{{ profile.description }}</mat-card-subtitle>
                        
                        <div *ngIf="profile.twitterURL">
                            Twitter: <a [href]="profile.twitterURL">{{ profile.twitterURL }}</a>
                        </div>
        
                        <div *ngIf="profile.githubURL">
                            GitHub: <a [href]="profile.githubURL">{{ profile.githubURL }}</a>
                        </div>

                        <div *ngIf="profile.website">
                            Website: <a [href]="profile.website">{{ profile.website }}</a>
                        </div>

                        <div *ngIf="profile.ethAddress">
                            Eth address: <a [href]="'https://etherscan.io/address/' + profile.ethAddress">{{ profile.ethAddress | shorten }}</a>
                        </div>            
            
                    </mat-card-content> 

                </div>
            </div>
    
        </mat-card>
    
        <mat-card *ngIf="profileReady && !profile.exists">
            <mat-card-header>
                <mat-card-title>No profile found for this address</mat-card-title>
            </mat-card-header>
        </mat-card>

        <mat-card appearance="outlined" *ngIf="!profileReady">
            <mat-card-content>
                <mat-card-title>Loading profile...</mat-card-title>
            </mat-card-content>
        </mat-card>

    </div>
</div>

<div class="row m-3 m-md-4 justify-content-center">
 
    <div class="col-12 col-sm-10 col-xl-8 mt-3" *ngIf="profileReady">
<!-- 
        <mat-tab-group>
            <mat-tab label="Owned campaigns"> 
                <h3 class="my-3" *ngIf="ownedCampaigns.length == 0">No owned campaigns</h3>
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-3 mt-3">
                    <div class="col pt-0 pb-4" *ngFor="let campaign of ownedCampaigns">
                        <app-campaign-card [campaign]="campaign" [profile]="true"></app-campaign-card>
                    </div>
                </div>
            </mat-tab>

            <mat-tab class="mb-3" label="Funded campaigns">
                <h3 class="mb-3" *ngIf="fundedCampaigns.length == 0">No funded campaigns</h3>
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-3">
                    <div class="col pt-0 pb-4" *ngFor="let campaign of fundedCampaigns">
                        <app-campaign-card [campaign]="campaign" [profile]="true"></app-campaign-card>
                    </div>
                </div>
            </mat-tab>

          </mat-tab-group> -->

            <h3 class="mb-3" *ngIf="ownedCampaigns.length > 0">Owned campaigns</h3>
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-3">
                <div class="col pt-0 pb-4" *ngFor="let campaign of ownedCampaigns">
                        <app-campaign-card [campaign]="campaign" [profile]="true"></app-campaign-card>
                </div>
            </div>
            <h3 class="mb-3" *ngIf="ownedCampaigns.length == 0">No owned campaigns</h3>

            <h3 class="mb-3" *ngIf="fundedCampaigns.length > 0">Funded campaigns</h3>
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-3">
                <div class="col pt-0 pb-4" *ngFor="let campaign of fundedCampaigns">
                        <app-campaign-card [campaign]="campaign" [profile]="true"></app-campaign-card>
                </div>
            </div>
            <h3 class="mb-3" *ngIf="fundedCampaigns.length == 0">No funded campaigns</h3>
 
    </div>
    
</div>
