<div class="row m-5">

    <div class="row mb-3 justify-content-center">
        <div class="col-10">
            <mat-card appearance="outlined" *ngIf="profileReady && profile.exists">
    
                <div class="row">

                    <div class="col-12 col-sm-auto" *ngIf="profile.logoURL">
                        <img [src]="profile.logoURL" style="height:auto">
                    </div>
    
                    <div class="col">
    
                        <mat-card-header>
                            <mat-card-title *ngIf="profile.alias">{{ profile.alias }}</mat-card-title>
                            <mat-card-title class="card-title" *ngIf="!profile.alias">Unknown name</mat-card-title>
        
                            <mat-card-subtitle class="card-text" *ngIf="profile.description">{{ profile.description }}</mat-card-subtitle>
                            <mat-card-subtitle class="card-text" *ngIf="!profile.description">No description available</mat-card-subtitle>
                        </mat-card-header>
                        
                
                        <div class="card-body mt-2">
                    
                            <div *ngIf="profile.twitterURL">
                                Twitter: <a [href]="profile.twitterURL">{{ profile.twitterURL }}</a>
                            </div>
                            <div *ngIf="!profile.twitterURL">Unknown Twitter profile</div>
            
                            <div *ngIf="profile.githubURL">
                                GitHub: <a [href]="profile.githubURL">{{ profile.githubURL }}</a>
                            </div>
                            <div *ngIf="!profile.githubURL">Unknown GitHub</div>
            
                            <div *ngIf="profile.website">
                                Website: <a [href]="profile.website">{{ profile.website }}</a>
                            </div>
                            <div *ngIf="!profile.website">Unknown website</div>
            
                            <div *ngIf="profile.ethAddress">
                                Eth address: <a [href]="'https://etherscan.io/address/' + profile.ethAddress">{{ profile.ethAddress | shorten }}</a>
                            </div>
                            <div *ngIf="!profile.ethAddress">Unknown eth address</div>
                
                
                        </div> 
    
                    </div>

                </div>
        
            </mat-card>
        
            <mat-card *ngIf="profileReady && !profile.exists">
                <mat-card-content>
                    <mat-card-title>No profile found for this address</mat-card-title>
                </mat-card-content>
            </mat-card>
    
            <mat-card appearance="outlined" *ngIf="!profileReady">
                
                <mat-card-content>
                    <mat-card-title>Loading profile...</mat-card-title>
                </mat-card-content>
            </mat-card>
    
        </div>
    </div>
 
    <div class="row mt-3 justify-content-center">
        <div class="col-10">
            <h2 *ngIf="ownedCampaigns.length > 0">Owned campaigns</h2>
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4">
                <div class="col pt-0 pb-4" *ngFor="let campaign of ownedCampaigns">
                        <app-campaign-card [campaign]="campaign" [profile]="true"></app-campaign-card>
                </div>
            </div>
            <h2 *ngIf="ownedCampaigns.length == 0">No owned campaigns</h2>

            <h2 *ngIf="fundedCampaigns.length > 0">Funded campaigns</h2>
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4">
                <div class="col pt-0 pb-4" *ngFor="let campaign of fundedCampaigns">
                        <app-campaign-card [campaign]="campaign" [profile]="true"></app-campaign-card>
                </div>
            </div>
            <h2 *ngIf="fundedCampaigns.length == 0">No funded campaigns</h2>
        </div>
    </div>
    
</div>
