.text-right-align {
  text-align: right;
}

input.text-right-align::-webkit-outer-spin-button,
input.text-right-align::-webkit-inner-spin-button {
  display: none;
}

.full-width {
  width: 100%;
}

.error {
  font-size:75%
}

.dragarea {
  border: 1px solid rgba(0, 0, 0, 0.38);
  padding: 1.5rem;
  border-radius: 0.375rem;
}

.droparea {
  border: 1px dashed black;
  padding: 1.5rem;
  border-radius: 0.375rem;
}

// FOR ASCII
/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
// .mat-form-field-underline{
//   visibility: hidden;
// }

// .droparea .mat-form-field-appearance-outline:not(.mat-form-field-invalid) .mat-form-field-outline {
//   color: transparent !important;
// }

.hint {
  color:rgba(255, 255, 255, 0.7);
  font-size:75%
}

mat-error {
  font-size:75%;
}

mat-hint {
  font-size:75%;
  color: rgba(255, 255, 255, 0.7);
}

.mat-mdc-form-field-hint-wrapper, .mat-mdc-form-field-error-wrapper {
  padding: 0 0px !important;
  // padding-right: 0px !important;
  // padding-bottom: 3px !important;
}