.text-right-align {
  text-align: right;
}

input.text-right-align::-webkit-outer-spin-button,
input.text-right-align::-webkit-inner-spin-button {
  display: none;
}

.full-width {
  width: 100%;
}

.error {
  font-size:75%
}

.dragarea {
  border: 1px solid rgba(0, 0, 0, 0.38);
  padding: 1.5rem;
  border-radius: 0.375rem;
}

.droparea {
  border: 1px dashed black;
  padding: 1.5rem;
  border-radius: 0.375rem;
}

.hint {
  color:rgba(255, 255, 255, 0.7);
  font-size:0.7rem
}

mat-hint {
  color: rgba(255, 255, 255, 0.7);
  font-size:0.7rem
}
