<div class="row m-5">

  <div class="col-12 col-sm-4 col-md-3 col-lg-2 col-xl-2 mb-5">
  <!-- <div class="col-auto"> -->

    <div>
      <mat-form-field class="full-width" appearance="outline">
        <input matInput 
          placeholder="Search"
          type="text"
          #input
          (keyup)="filter_search(input.value)"
          [value]="searchValue">
          <button *ngIf="input.value" matSuffix mat-icon-button aria-label="Clear" (click)="close_search()">
            <mat-icon>close</mat-icon>
          </button>
      </mat-form-field>
    </div>


    <div class="checkbox-list">
      <mat-checkbox 
          *ngFor="let category of availableCategories"
          color="primary"
          [(ngModel)]="category.isRefined"
          (ngModelChange)="filter_search(searchValue)">
          {{ category.value }}
      </mat-checkbox>
    </div>

  </div>


  <div class="col">
  <!-- <div class="col col-sm-8 col-md-9 col-lg-10 col-xl-10 justify-content-center"> -->
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4">
        <!-- <div class="row row-cols-auto justify-content-center"> -->
          <div class="col pt-0 pb-4" *ngFor="let campaign of campaignList">
            <app-campaign-card [campaign]="campaign"></app-campaign-card>
          </div>
        </div>
  </div>
    
</div>
