<div class="row m-3 m-md-4 justify-content-center">
  <div class="col col-sm-10 col-md-8 col-lg-8 col-xl-6">

    <!-- CROWDFUNDING CAMPAIGNS -->
    <h3 class="mb-3">Crowdfunding campaigns</h3>

    <mat-card appearance="outlined" class="main-card mb-3">

      <mat-card-content>
        <p>
          <mark>Anyone with a Tezos wallet can create or support a crowdfunding campaign easily.</mark> No account, just a wallet. 
          When a campaign is created, a new smart contract is deployed. <mark>This smart contract is yours and the platform has 
            no control over it</mark>, which means only you can make decisions about your campaign - a truly decentralized
          crowdfunding campaign without intermediaries.
        </p>
    
        <p>
          <mark>Funds are immediately transferred</mark> from the supporter wallet to the campaign owner wallet and there is no commission per transaction.
          As a campaign owner, you only need to transfer 3<span class="tezos-symbol-black"></span> upon campaign creation - this is to prevent spam campaigns 
          and support the platform's costs.
        </p>
      </mat-card-content>
      
    </mat-card>


    <mat-accordion>
      <mat-expansion-panel class="mb-3">
        <mat-expansion-panel-header>
            <mat-panel-title>
            Create a crowdfunding campaign
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>You can create a crowdfunding campaign <a routerLink="../create" target="_blank">here</a>. 
          This will deploy a new contract for your campaign, where all the needed info will be stored. You'll need to connect
        your wallet, which will be associated with your campaign - make sure you have access to this wallet.</p>

        <p>You'll need to define:</p>
        <div class="ms-2 mb-4">

          <table mat-table [dataSource]="dataSource" style="width: 100%;">

            <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" class="ps-3"> {{element.description}} </td>
            </ng-container>
            
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
              
        </div>

        <p>To prevent spam campaigns and to support costs with the platform, you'll be asked to transfer 3<span class="tezos-symbol"></span>.</p>
        
        <p>Now that your campaign is live, share it with your friends, family and on social media!</p>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel class="mb-3">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Fund a campaign
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>To fund a campaign, simply go to the page of the campaign you want to support and define how much you want to donate.
          The owner of the campaign will receive your funds instantly, when the transaction is complete.
        </p>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel class="mb-3">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Collect funds
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>There's no need to collect funds because all funds are instantly transferred to the campaign owner.</p>
      </mat-expansion-panel>
    </mat-accordion>


    <mat-accordion>
      <mat-expansion-panel class="mb-3">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Closing a campaign
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Your campaign will be active and receiving funds unless you close it. You can close your 
          campaign anytime, even if you don't reach your goal.
        </p>
      </mat-expansion-panel>
    </mat-accordion>

    <!-- FAQ -->
    <h3 class="mb-3 mt-5">FAQ</h3>

    <mat-accordion>
      <mat-expansion-panel class="mb-3">
        <mat-expansion-panel-header>
          <mat-panel-title>
            I lost access to my wallet, what can I do?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Every time a user funds your campaign, the funds will be immediately transferred to the wallet that created the campaign.
          If you lose access to your wallet, you won't be able to access those funds and there is no way of closing the campaign
          to prevent users from funding it further. Please make sure you have your wallet secured.
        </p>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel class="mb-3">
        <mat-expansion-panel-header>
          <mat-panel-title>
            How does it work?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{ appName }} has a factory contract to deploy individual contracts for each campaign. You can check the contract on our 
          <a [href]="githubURL" target="_blank">GitHub</a>, made using <a href="https://smartpy.dev/" target="_blank">SmartPy</a>. 
        </p>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel class="mb-3">
        <mat-expansion-panel-header>
          <mat-panel-title>
            What information is stored?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{ appName }} doesn't store any information - everything you see comes from the <a href="https://api.tzkt.io/" target="_blank">TzKT API</a>.</p>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel class="mb-3">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Has the contract been audited?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>No, not yet; we plan to do so in the future. In the meanwhile, you can check our SmartPy code on 
          <a href="https://github.com/AFundFactory/contracts/blob/main/contract_v1.py" target="_blank">GitHub</a>.
        </p>
      </mat-expansion-panel>
    </mat-accordion>


    <!-- EXTERNAL TOOLS -->
    <h3 class="mb-3 mt-5">External tools</h3>

    <mat-accordion>
      <mat-expansion-panel class="mb-3">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Profiles
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Profiles are fetched from the TzKT API, using TzKT profiles. Learn more on their <a href="https://profiles.tzkt.io/" target="_blank">website</a>.
        </p>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel class="mb-3">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Contract information
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>The information is all on-chain and it's powered by <a href="https://tzkt.io/" target="_blank">TzKT API</a>.</p>
      </mat-expansion-panel>
    </mat-accordion>

  </div>
</div>
  