<!-- Loading -->

<div *ngIf="data.error == false && data.success == false">
  <h4 class="px-4 pt-4 pb-2">Sending transaction...</h4>
  <div class="dialog-content px-4">
      <p>Please don't reload the page</p>
  </div>
  <mat-dialog-content class="text-center">
      <div class="lds-hourglass"></div>
  </mat-dialog-content>

</div>


<!-- Error -->

<div *ngIf="data.error == true && data.success == false">
  <h4 class="px-4 pt-4 pb-2">Error</h4>
  <div class="dialog-content px-4">
    <p style="word-break: break-all;">{{ data.message }}</p>
  </div>
  <div class="px-4 pb-2">
    <button mat-flat-button mat-dialog-close>Close</button>
  </div>
</div>


<!-- Success -->

<div *ngIf="data.error == false && data.success == true">
  <h4 class="px-4 pt-4 pb-2">Success</h4>
  <div class="dialog-content px-4">
    <p>{{ data.message }}</p>
  </div>
  <div class="px-4 pb-2">
    <button mat-flat-button mat-dialog-close>Close</button>
  </div>
</div>

